@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    background-color: hsl(210, 46%, 95%);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
    font-family: Barlow Semi Condensed, sans-serif;
}

.cards {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.cards .image {
    display: flex;
    align-items: center;

}

.cards .quotes {
    position: absolute;
    right: 120px;
    top: 0;
    width: 90px;
}

.cards .image img {
    border-radius: 50%;
    margin-right: 10px;
}

.cards h4 {
    margin: 20px 0;
    font-size: 20px;
}

.cards p {
    font-size: 16px;
}

.violet {
    background-color: hsl(263, 55%, 52%);
}

.grayish {
    background-color: hsl(217, 19%, 35%);
}

.white {
    background-color: white;
    color: hsl(219, 29%, 14%);
}

.blue {
    background-color: hsl(219, 29%, 14%);
}

@media (min-width: 640px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1248px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 50px auto;
    }

    .cards.violet {
        grid-column: 1/3;
    }

    .cards.blue {
        grid-column: 2/4;
    }

    .cards.last {
        grid-column: 4;
        grid-row: 1/3;
    }
}
